@import url(https://fonts.google.com/specimen/Poppins);

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 1s 0.1s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 8px rgb(57, 57, 57);
}

.logo img {
    height: 70px;
    width: 100%;
    cursor: pointer;
}

nav {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #15254f;
    font-weight: 700;
}

nav a:hover {
    font-size: 1.3rem;
    color: #6376ac;
}

nav a i {
    margin-right: 5px;
}

.diet {
    position: absolute;
    top: 80px;
    margin: 10px;
}

.diet .controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    list-style: none;
}

.diet .controls .buttons {
    padding: 3rem 2rem;
    background: var(--white);
    cursor: pointer;
    margin-bottom: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 1rem;
}

.diet .controls .buttons img {
    height: 6rem;
}

.diet .controls .buttons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--light-black);
}

.diet .controls .buttons.active {
    background: var(--primary);
}

.diet .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.diet .image-container .box {
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.diet .image-container .box:hover .image img {
    transform: scale(1.1);
}

.diet .image-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.diet .image-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.diet .image-container .box .content {
    padding: 2rem;
}

.diet .image-container .box .content .link {
    font-size: 2rem;
    color: var(--main-color);
}

.diet .image-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-black);
    line-height: 2;
}

.diet .image-container .box .content .icon {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.diet .image-container .box .content .icon a {
    font-size: 1.4rem;
    color: var(--light-black);
}

.diet .image-container .box .content .icon a:hover {
    color: var(--main-color);
}

.diet .image-container .box .content .icon a i {
    padding-right: .5rem;
    color: var(--main-color);
}